<div id="sidebar">
  <div id="sidebar_content">
    <div class="dashboard_row">
      <div class="dashboard_date dashboard_left" style="border-bottom: 2px dashed white">
        <div style="float:left"><</div>
        <div style="float:right">></div>
        <div id="dashboard_date_month">{{month}}</div>
      </div>
    </div>
    <div id="household_container_left" class="dashboard_row">
      <div class="dashboard_header dashboard_left">
        <img src="/home.png"/><div class="hw_sub_title">Household</div>
      </div>
    </div>
    <div id="user_container_left" class="dashboard_row">
      <div class="dashboard_header dashboard_left">
        <img src="/users.png"/><div class="hw_sub_title">Users</div>
      </div>
    </div>
    <div id="device_container_left" class="dashboard_row">
      <div class="dashboard_header dashboard_left">
        <img src="/device.png"/><div class="hw_sub_title">Devices</div>
      </div>
    </div>
  </div>
</div>
<div id="dashboard_content">
  <div class="dashboard_date dashboard_right" style="height:26px">
  </div>
  <div id="household_container_right" class="dashboard_header dashboard_right">
    <div class="household_bar_border">                     
      <div class="household_bar">                          
      </div>                                            
    </div>
    <div id="household_bar_text" class="bar_text">                           
      <sup id="household_usage"></sup>                                  
      /
      <sub id="household_allowance"></sub>                                
    </div>
  </div>
  <div id="user_container_right">
    <div class="dashboard_header dashboard_right" style="padding-top:15px;min-height: 37px">Click a user to see device usage</div>
  </div>
  <div id="device_container_right">
    <div class="dashboard_header dashboard_right" style="padding-top:15px;min-height:37px"></div>
  </div>
</div>
