  <div id="sidebar">
    <div id="sidebar_content">
      <div class="dashboard_row">
        <div class="dashboard_date dashboard_left" style="border-bottom: 2px dashed white">
          <div style="float:left"><a href="#" id="prev"><</a></div>
          <div style="float:right"><a href="#" id="next">></a></div>
          <div id="dashboard_date_month">{{getMonth month}} {{year}}</div>
        </div>
      </div>
      <div id="user_container_left" class="dashboard_row">
        <div class="dashboard_header dashboard_left">
          <img src="/images/users.png"/><div class="hw_sub_title">Users</div>
        </div>
        {{#each users}}
          <div class="dashboard_user dashboard_left">
            <div class="dashboard_user_text">{{this.id}}</div>
          </div>  
        {{/each}}
    </div>
      <div id="device_container_left" class="dashboard_row">
        <div class="dashboard_header dashboard_left">
          <img src="/images/device.png"/><div class="hw_sub_title">Devices</div>
        </div>
        {{#each devices}}
          <div class="dashboard_user dashboard_left">
            <div class="dashboard_user_text">{{this.id}}</div>
          </div>  
        {{/each}}
      </div>
    </div>
  </div>
  <div id="dashboard_content">
    <div class="dashboard_right">
      <div id="household_bar_border">
        <div id="household_bar_text">{{toGigabytes household.usage}}/{{toGigabytesAllowance household.allowance}}</div>
        <div id="household_bar" style="width:{{usagePercentage household.usage household.allowance}}%"></div>
      </div>
    </div>
    <div id="user_container_right">
      <div class="dashboard_header dashboard_right" style="padding-top:15px;min-height: 52px">Click a user to see device usage</div>
        {{#each users}}
        <div class="dashboard_user dashboard_right">
          <div class="user_bar_border"> 
            <div class="user_bar" style="width:{{usagePercentage this.usage this.allowance}}%">
            </div>                                            
          </div>
          <div class="bar_text">                           
            <sup style="{{limitStyling this.usage this.allowance}}">{{toGigabytes this.usage}}</sup>                                  
            /
            <sub>{{toGigabytesAllowance this.allowance}}</sub> 
          </div>
        </div>
        {{/each}}
    </div>
    <div id="device_container_right">
      <div class="dashboard_header dashboard_right" style="padding-top:15px;min-height:37px"></div>
       {{#each devices}}
        <div class="dashboard_device dashboard_right">
          <div class="device_bar_border"> 
            <div class="device_bar" style="width:{{usagePercentage this.usage this.allowance}}%">
            </div>                                            
          </div>
          <div class="bar_text">                           
            <sup style="{{limitStyling this.usage this.allowance}}">{{toGigabytes this.usage}}</sup>                                  
            /
            <sub>{{toGigabytesAllowance this.allowance}}</sub> 
          </div>
        </div>
        {{/each}}
    </div>
  </div>
</div>
