/*  Less Framework 4
  http://lessframework.com
  by Joni Korpi
  License: http://opensource.org/licenses/mit-license.php */


/*  Resets
  ------  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

a img {border: 0;}



/*  Typography presets
  ------------------  */

.gigantic {
  font-size: 110px;
  line-height: 120px;
  letter-spacing: -2px;
}

.huge, h1 {
  font-size: 68px;
  line-height: 72px;
  letter-spacing: -1px;
}

.large, h2 {
  font-size: 42px;
  line-height: 48px;
}

.bigger, h3 {
  font-size: 26px;
  line-height: 36px;
}

.big, h4 {
  font-size: 22px;
  line-height: 30px;
}

body {
  font: 16px/24px Georgia, serif;
}

.small, small {
  font-size: 13px;
  line-height: 18px;
}

/* Selection colours (easy to forget) */

::selection     {background: rgb(255,255,158);}
::-moz-selection  {background: rgb(255,255,158);}
img::selection    {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}



/*    Default Layout: 992px. 
    Gutters: 24px.
    Outer margins: 48px.
    Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

html { height: 100%; }

body {
  background: url('/linen-bg.jpg');
  height: 100%;
  color: white;
  width: 100%;
  font-family: 'Tin Doghouse';
  font-weight: normal;
  -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

#notification_bar { 
  height: 30px;
  color: #3F3E39;
  width: 100%;
  position:fixed;
  z-index: 10;
  background: url('/linen-bg.jpg');
}
#notification_container { padding: 2px 0;text-align: center; }

#title_bar {
  width: 100%;
  background: url('/linen-header.jpg');
  margin: 0 auto;
  padding: 0px;
  height: 63px;
  position: fixed;
  z-index: 10;
  top: 30px;
}

#title_container {
  width: 866px;
  margin: 0 auto;
}

#title_image {
  margin: 5px 13px 0px 2px;
  float: left;
}

#title_text {
  line-height: 140%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 45px;
  float: left;
}

#title_links {
  float: right;
  font-size: 25px;
}

.title_link {
  float: right;
  padding: 20px 35px;
}

#dashboard {
  width: 896px;
  height: 100%;
  padding-top: 0px;
  margin: 0px auto;
}

#sidebar {
  width: 296px;
  min-height: 100%;
  background: url('/linen-side.jpg') repeat fixed;
  overflow: visible;
  float: left;
  margin: 0;
  padding: 0;
}

#sidebar_content {
  position: relative;
  top: 93px;
  clear: both;
}

#dashboard_content {
  position: relative;
  top: 93px;
  margin-left: 310px;
  padding: 5px;
  border-right: 1px solid red;
}

.dashboard_row {
  width: 100%;
}

.dashboard_date {
  font-size: 40px;
  margin: 20px 0 20px 0;
  text-align: center;
}

.dashboard_date div {
  margin: 0 10px;
}

#dashboard_date_month {
  color: #3F3E39;
}

.dashboard_header {
  min-height: 57px;
  overflow: auto;
  color: #3F3E39;
}

.dashboard_header img {
  float: left;
  margin: 0 20px;
}

.dashboard_left {
  width: 296px;
}

.dashboard_user_left {
  float: right;
  border: 1px solid green;
}

.dashboard_right {
  height: 100%;
  text-align: left;
  color: #3F3E39;
}

.dashboard_user {
  min-height: 40px;
  overflow: auto; 
}

.dashboard_device {
  min-height: 60px;
  overflow: auto; 
}

.hw_sub_title {
  width: 210px;
  overflow: auto;
  margin: 0;
  margin-top: -4px;
  float: left;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #3F3E39;
  line-height: 140%;
  font-size: 40px;
}

.household_bar_border {
  width: 420px;
  border: 4px solid rgb(228,63,23);
  border: 3px solid rgb(255,127,14);
  border: 3px solid #3F3E39;
  height: 20px;
  float:left;
  margin: 5px 7px 5px 5px;
  padding: 3px;
}

.household_bar {
  width: 0%;
  height: 100%;
  background: rgb(255,127,14);
}

.household_text {
  float: left;
  padding: 3px 2px;
  font-size: 20px;
}

.user_bar_border {
  width: 420px;
  border: 4px solid rgb(228,63,23);
  border: 3px solid rgb(255,127,14);
  border: 3px solid #3F3E39;
  height: 20px;
  float:left;
  margin: 5px 7px 5px 5px;
  padding: 3px;
}

.user_bar {
  width: 0%;
  height: 100%;
  background: rgb(255,127,14);
}

.user_text {
  float: left;
  padding: 3px 2px;
  font-size: 20px;
}

/*    Tablet Layout: 768px.
    Gutters: 24px.
    Outer margins: 28px.
    Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  
}



/*    Mobile Layout: 320px.
    Gutters: 24px.
    Outer margins: 34px.
    Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
  
}



/*    Wide Mobile Layout: 480px.
    Gutters: 24px.
    Outer margins: 22px.
    Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  
}
